$icon-font-path: "../fonts/";
@import "./variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "./graph";

body {
    padding-top: 50px;
}

.navbar {
    & > .container {
        .navbar-brand {
            background: url('/images/logo.png') no-repeat;
            height: 30px;
            margin: 10px 0 0;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            width: 160px;
            padding: 0;
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .navbar {
        & > .container {
            .navbar-brand {
                background: url('/images/logo@2x.png') no-repeat;
                background-size: cover;
            }
        }
    }
}
